<!DOCTYPE html>
<html ng-app="happybuy">
<head> 
    <link rel="stylesheet" type="text/css" href="css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/mystyle.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <script src="javascript/jquery-3.3.1.min.js"></script>
    <script src="javascript/angular/angular.min.js"></script>
    <script src="javascript/angular/angular-route.js"></script> 
    <script src="css/bootstrap/bootstrap.min.js"></script>  

    <script src="javascript/app.js"></script>
    <script src="javascript/app/service/const-uri.js"></script>
    <script src="javascript/app/service/authentication-service.js"></script>
    <script src="javascript/app/controller/index-controller.js"></script>
    <script src="javascript/app/controller/home-controller.js"></script>
    <script src="javascript/app/controller/about-controller.js"></script>
    <script src="javascript/app/controller/contact-controller.js"></script>   
    <script src="javascript/app/controller/category-controller.js"></script> 
    <script src="javascript/app/controller/product-controller.js"></script>  
   
    
</head>
<body ng-controller="IndexCtrl">
    <div class="header">
        <div class="row menu">
            <div class="col-md-8 menu-bar">
                <ul>
                    <li><a href="#!home">Home</a></li>
                    <li><a href="#!about">About</a></li>
                    <li><a href="#!map">Map</a></li>
                    <li><a href="#!contact">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-md-4 log-cart">
                <ul>                       
                    <li><a href="#/login"><i class="fa fa-user"></i></a></li>                   
                    <li><button type="button" class="btn-signup" data-toggle="modal" data-target="#myRegForm" ng-hide="isLogined">SignUp</button></li>
                    <li><button type="button" class="btn-login" data-toggle="modal" data-target="#myLoginForm" ng-hide="isLogined">Login</button></li>
                    <!-- <li ng-show="isLogined">{{fullName}}</li> -->
                    <li ng-show="isLogined">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle"  ng-show="isLogined" type="button" 
                            id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hi, {{fullName}} 
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="javascript:void(0)" ng-click="logOut()">Log Out</a><br/>
                                <a class="dropdown-item" href="javascript:void(0)">Update Profile</a>                        
                            </div>
                        </div>
                    </li>                      
                    <li class="cart" id="cartCount">
                        <span class="p1 fa-stack fa-3x has-badge" data-count="12">
                            <a href="#/cart"><i class="p3 fa fa-shopping-cart fa-stack-2x xfa-inverse"></i></a>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row category">
            <div class="col-md-2">
                <img class="logo" src="assets/logo.PNG">
            </div>
            <div class="col-md-7 category-menu">
                <ul>
                    <li ng-repeat="category in categories">
                    <a href="#/category/{{category.id}}">{{category.name | uppercase}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 search">
                <div class="active-pink-3 active-pink-4 mb-4">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                </div>
            </div>
        </div>
    </div>
    <!--Banner-->   
    <div class="banner">
            <!--Using Bootstrap Carousel-->
            <div class="container">               
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>        
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="assets/mt-0603-home-slider1.jpg" alt="Los Angeles" style="width:100%;">
                        </div>        
                        <div class="item">
                            <img src="assets/mt-0603-home-slider2.jpg" alt="Chicago" style="width:100%;">
                        </div>        
                        <div class="item">
                            <img src="assets/mt-0603-home-slider3.jpg" alt="New york" style="width:100%;">
                        </div>
                    </div>                  
                </div>
            </div>        
        </div>
    </div>
    <!--For showing views of the other page linked-->
    <div ng-view></div>    
    <!--Footer-->
    <div class="footer">
        <div class="contact-info">
            <div class="subscribe">
                <h1>HAPPY BUY</h1>
                <h3>Tel: 206-890 3723</h3>
                <h5>7 days a week from 9:00 am - 7:00 pm</h5>
                <input type="text" name="emailtosub" placeholder="Enter your email *">  
                <button>Subcribe</button>              
            </div>
            <div class="row services">
                <div class="col-md-3 service">
                    <h4>INFORMATION</h4>
                    <ol>
                        <li>About Us</li>
                        <li>Help & FQAs</li>
                        <li>Privacy Policy</li>                                             
                    </ol>
                </div>
                <div class="col-md-3">
                    <h4>CUSTOMER SERVICES</h4>
                    <ol>                        
                        <li>Shipping & Delivery</li>
                        <li>Returns</li>
                        <li>Message Us</li>
                    </ol>
                </div>
                <div class="col-md-3">
                    <h4>CONTACT US</h4>
                    <ol>                        
                        <li>2800 Southcenter Mall</li>
                        <li>Seattle, WA 98188</li>
                        <li>happybuy@gmail.com</li>                                                                   
                    </ol>
                </div>
                <div class="col-md-3">
                    <h4>STAY CONNECTED</h4>
                    <ol>                       
                        <li>
                            <i class="fa fa-facebook-square"></i>
                            <i class="fa fa-twitter-square"></i>
                            <i class="fa fa-instagram"></i>
                        </li> 
                        <li>Sign Up For Emails</li>                       
                    </ol>
                </div>
            </div>
        </div>
        <div class="map">
            <img src="assets/map.PNG">
        </div>
        <div class="copy-right">
            <h5>HappyBuy @ 2018. Designed by Sofia Ta</h5>
        </div>
    </div>
    <!--https://www.w3schools.com/bootstrap/bootstrap_modal.asp-->
    <!--Popup for Register Form-->    
    <div class="modal fade" id="myRegForm" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">                     
                <div class="signup-header">   
                    <button type="button" class="close" data-dismiss="modal">&times;</button><br/> 
                </div>    
                <div class="signup-body">
                    <h4><b>Secure create account</b></h4><br>
                    <p>First name</p>
                    <input class="fname" type="text" ng-model="credentials.fname" placeholder=""><br>
                    <p>Last name</p>
                    <input class="lname" type="text" ng-model="credentials.lname" placeholder=""><br>
                    <p>Email address</p>
                    <input class="email" type="email" ng-model="credentials.email" placeholder=""><br>                    
                    <p>Password</p>
                    <input class="password" type="password" ng-model="credentials.password" placeholder=""><br>
                    <p>Confirm Password</p>
                    <input class="password" type="password" ng-model="credentials.cfpassword" placeholder=""><br>
                    <p>By creating account, you agree to our <b>Privacy Policy</b>
                        and <b>Terms & Conditions.</b></p>
                    <button class="btn btn-warning" ng-click="register()" ng-model="myText">CREATE ACCOUNT</button>
                    <p><a href="home.com">No thanks. Continue browsing</a></p>
                    <p class="errorMessage">{{errorMessage}}</p>
                </div>    
            </div>
        </div>
    </div>
    <!--Popup for Login Form-->
    <div class="modal fade" id="myLoginForm" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="login-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button><br />                   
                </div>
                <div class="login-body">
                    <h4><b>Secure Log In</b></h4><br>                   
                    <p>User Name</p>
                    <input class="username" ng-model="credentialsLogin.username" type="text" placeholder=""><br>
                    <p>Password</p>
                    <input class="password" ng-model="credentialsLogin.password" type="password" placeholder=""><br>                   
                    <p>By logging into your account, you agree to our <b>Privacy Policy</b>
                        and <b>Terms & Conditions.</b></p>
                    <button class="btn btn-warning" ng-click="login()" id="cal">LOG IN</button>
                    <p><a href="home.com">No thanks. Continue browsing</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>