<div class="content">
    <div class="shoppingcart-title">
        <h1>SHOPPING ORDER</h1>
        <h4>Order ID: 1563-249524</h4>
    </div>
    <div class="row order">
        <div class="col-md-8 order_table">
            <table>
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Quantiy</th>
                    <th>Price</th>
                </tr>
                <tr>
                    <td class="order_image">
                        <img src="assets/girlcoatdress.jpg">
                    </td>
                    <td class="order_description">
                        <ul>
                            <li>Blueberi Boulevard</li>
                            <li>Little Girls 2-Pc. Brocade Coat & Dress</li>
                            <li>$85.00</li>
                            <li>Sale $44.50</li>
                            <li>Color: PINK</li>
                            <li>Size: M</li>
                            <li><button class="btn-addToCart">Remove</button></li>
                        </ul>
                    </td>
                    <td class="order_quanity">
                        <select>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </td>
                    <td class="order_price">
                        <ul>
                            <li>45.99</li>
                        </ul>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-4 order_subtotal">
            <table>
                <tr>
                    <td>Subtotal: $</td>
                    <td>100.00</td>
                </tr>
                <tr>
                    <td>Shipping: $</td>
                    <td>15.00</td>
                </tr>
                <tr>
                    <td>Pre-tax Order Total: $</td>
                    <td> 115.00</td>
                </tr>                
            </table>
            <button class="btn-checkout">CHECKOUT</button>
            <button class="btn-keepShopping">KEEP SHOPPING</button>
        </div>
    </div>
</div>