<div class="content">
    <div class="row">
        <div class="col-md-4 prodByCate" ng-repeat="product in products">
            <a href="#/product/{{product.id}}"><img src="{{product.img}}"></a>
            <div class="description">
                <li>{{product.name}}</li>
                <li><delete>$ {{product.regularPrice}}</delete></li>
                <li>Sale $ {{product.salePrice}}</li>
            </div>
        </div>
    </div>
    <nav class="page-navigation">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="javascript:void(0)" ng-click="clickPage(1)">First</a></li>         
            <li class="page-item" ng-repeat="i in pageList">
                <a class="page-link" href="javascript:void(0)" ng-click="clickPage(i)">{{i}}</a></li>          
            <li class="page-item"><a class="page-link" href="javascript:void(0)" ng-click="clickPage(maxSize)">Last</a></li>
        </ul>
    </nav>   
</div>

