<div class="content">
    <div class="login-form">
        <div class="sign-up">
            <p><a href="signup.com">Sign Up</a></p>
        </div>
        <div class="form">
            <h2>LOG IN</h2>
            <h5>Email</h5>
            <input class="em" id="fnum" type="text" name="email" placeholder=""><br>
            <h5>Password</h5>
            <input class="pw" id="snum" type="text" name="password" placeholder=""><br>
            <a href="forgotpw.com">Forgot your password?</a><br>
            <p>By logging in, you agree to our <b>Privacy Policy</b>
            and <b>Terms & Conditions.</b></p>           
            <button class="btn btn-warning" id="cal">LOG IN</button>
            <p><a href="home.com">No thanks. Continue browsing</a></p>               
        </div>
    </div>
</div>