<div class="section-title1">
    NEW ARRIVALS - Select Your Style
</div>
<div class="content">       
<div class="new">
    <div class="row new-top">
        <div class="col-md-3 new-top-left">
            <img src="assets/new-cloth3.jpg">
            <div class="overlay">
                <div class="overlay-text"> <!--CSS Image Overlay Slide-->
                    <ul>
                        <li><a href="trend.com">TREND UPATE</a></li>
                        <li><a href="trend.com">NEW</a></li>
                        <li><a href="trend.com">ELEGANCE</a> </li>
                   </ul>                                                
                </div>
            </div>                   
        </div>
        <div class="col-md-4 new-top-mid">
            <img src="assets/new-shoes1.PNG">
            <div class="overlay">
                <div class="overlay-text">
                    <ul>
                        <li><a href="trend.com">LADIES</a></li>
                        <li><a href="trend.com">MODERN</a></li>
                        <li><a href="trend.com">ESSENTIAL</a> </li>
                    </ul>
                </div>
            </div>                
        </div>
        <div class="col-md-5 new-top-right">
            <img src="assets/new-cloth1.jpg">
            <div class="overlay">
                <div class="overlay-text">
                    <ul>
                        <li><a href="trend.com">LINGERIE</a></li>
                        <li><a href="trend.com">CHIC</a></li>
                        <li><a href="trend.com">COMFORT</a> </li>
                    </ul>
                </div>
            </div>
        </div>    
    </div>
    <div class="row new-bottom">
        <div class="col-md-8 new-bottom-left">
            <img src="assets/new-cloth4.PNG">
            <div class="overlay">
                <div class="overlay-text">
                    <ul>
                        <li><a href="trend.com">LINGERIE</a></li>
                        <li><a href="trend.com">CHIC</a></li>
                        <li><a href="trend.com">COMFORT</a> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4 new-bottom-right">
            <img src="assets/new-cloth2.jpg">
            <div class="overlay">
                <div class="overlay-text">
                    <ul>
                        <li><a href="trend.com">OFFICE HOURS</a></li>
                        <li><a href="trend.com">WORK</a></li>
                        <li><a href="trend.com">THE LOOK</a> </li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
</div>
<div class="section-title2">
    MAJOR FINDS, ULTIMATE SAVINGS
</div>
<div class="products">
    <div class="row">
        <div class="col-md-4 prod-cloth-left">
            <a href="women.com"><img class="center-fit" src="assets/women-dress1.jpg"></a>                    
            <div class="sticker">
                <p>SALE</p>
            </div>
            <div class="description">
                <li>Ponte Short Sleeve Wrap Dress</li>                        
                <li class="original">$110.00 - 128.00</li>
                <li class="saving">Sale $50.00</li>
            </div>
        </div>
        <div class="col-md-4 prod-cloth-mid">
            <a href="women.com"><img class="center-fit" src="assets/women2.jpg"></a>
            <div class="sticker">
                <p>NEW</p>
            </div>
            <div class="description">
                <li>Columbia Men's Glennaker Lake Rain Jacket</li>                       
                <li class="original">$60.00 - 79.00</li>
                <li class="saving">Sale $42.00</li>
            </div>
        </div>
        <div class="col-md-4 prod-top-right">
            <a href="women.com"><img class="center-fit" src="assets/women3.jpg"></a>
            <div class="sticker">
                <p>NEW</p>
            </div>
            <div class="description">
                <li>Sleeveless Brocade Top Jeweled Dress</li>                       
                <li class="original">$60.00 - 79.00</li>
                <li class="saving">Sale $30.00</li>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 prod-cloth-left">
            <a href="men.com"><img class="center-fit" src="assets/men1.jpg"></a>                    
            <div class="sticker">
                <p>SALE</p>
            </div>
            <div class="description">
                <li>Ponte Short Sleeve Wrap Dress</li>                        
                <li class="original">$110.00 - 128.00</li>
                <li class="saving">Sale $50.00</li>
            </div>
        </div>
        <div class="col-md-4 prod-cloth-mid">
            <a href="men.com"><img class="center-fit" src="assets/men2.jpg"></a>
            <div class="sticker">
                <p>NEW</p>
            </div>
            <div class="description">
                <li>Columbia Men's Glennaker Lake Rain Jacket</li>                       
                <li class="original">$60.00 - 79.00</li>
                <li class="saving">Sale $42.00</li>
            </div>
        </div>
        <div class="col-md-4 prod-top-right">
            <a href="men.com"><img class="center-fit" src="assets/men3.jpg"></a>
            <div class="sticker">
                <p>NEW</p>
            </div>
            <div class="description">
                <li>Sleeveless Brocade Top Jeweled Dress</li>                       
                <li class="original">$60.00 - 79.00</li>
                <li class="saving">Sale $30.00</li>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 prod-cloth-left">
            <a href="men1.com"><img class="center-fit" src="assets/girlcoatdress.jpg"></a>
            <div class="sticker">
                <p>SALE</p>
            </div>
            <div class="description">
                <li>Nicole Miller </li>
                <li>Faux Pearl Ruffle Slip-On Sneaker</li>                       
                <li class="original">$110.00 - 128.00</li>
                <li class="saving">Sale $50.00</li>
            </div>
        </div>
        <div class="col-md-4 prod-cloth-mid">
            <a href="men1.com"><img class="center-fit" src="assets/girl1.jpg"></a>
            <div class="sticker">
                <p>NEW</p>
            </div>
            <div class="description">
                <li>Calvin Klein</li>
                <li>Brady Leather Pointed Toe Pump - Wide Width Available</li>                       
                <li class="original">$60.00 - 79.00</li>
                <li class="saving">Sale $42.00</li>
            </div>
        </div>
        <div class="col-md-4 prod-top-right">
            <a href="men1.com"><img class="center-fit" src="assets/boy2.jpg"></a>
            <div class="sticker">
                <p>NEW</p>
            </div>
            <div class="description">
                <li>Brooks</li>
                <li>Ghost 10 Running Shoe - Wide Width Available</li>                       
                <li class="original">$60.00 - 79.00</li>
                <li class="saving">Sale $70.00</li>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 prod-cloth-left">
            <a href="men1.com"><img class="center-fit" src="assets/accessories1.jpg"></a>
            <div class="sticker">
                <p>SALE</p>
            </div>
            <div class="description">
                <li>Michael Kors</li>
                <li>Jet Set Travel Tote</li>                       
                <li class="original">$350.00 - 388.00</li>
                <li class="saving">Sale $250.00</li>
            </div>
        </div>
        <div class="col-md-4 prod-cloth-mid">
            <a href="men1.com"><img class="center-fit" src="assets/accessories2.jpg"></a>
            <div class="sticker">
                <p>NEW</p>
            </div>
            <div class="description">                       
                <li>Apple Watch Series 4 GPS, 40mm Gold Aluminum</li>                       
                <li class="original">$460.00 - 479.00</li>
                <li class="saving">Sale $399.00</li>
            </div>
        </div>
        <div class="col-md-4 prod-top-right">
            <a href="men1.com"><img class="center-fit" src="assets/accessories3.jpg"></a>
            <div class="sticker">
                <p>NEW</p>
            </div>
            <div class="description">
                <li>Polo Ralph Lauren</li>
                <li>Men's Chambray Sports Cap</li>                       
                <li class="original">$60.00 - 79.00</li>
                <li class="saving">Sale $70.00</li>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-md-4 prod-cloth-left">
                <a href="men1.com"><img class="center-fit" src="assets/beauty1.jpg"></a>
                <div class="sticker">
                    <p>SALE</p>
                </div>
                <div class="description">
                    <li>Chanel-Soleil Tan De Chanel</li>
                    <li>Bronzing Makeup Base</li>                          
                    <li class="original">$350.00 - 388.00</li>
                    <li class="saving">Sale $250.00</li>
                </div>
            </div>
            <div class="col-md-4 prod-cloth-mid">
                <a href="men1.com"><img class="center-fit" src="assets/beauty2.jpg"></a>
                <div class="sticker">
                    <p>NEW</p>
                </div>
                <div class="description">
                    <li>Dior</li>
                    <li>Rouge Dior Lipstick - Red, 0.12 oz</li>                            
                    <li class="original">$460.00 - 479.00</li>
                    <li class="saving">Sale $399.00</li>
                </div>
            </div>
            <div class="col-md-4 prod-top-right">
                <a href="men1.com"><img class="center-fit" src="assets/beauty3.jpg"></a>
                <div class="sticker">
                    <p>NEW</p>
                </div>
                <div class="description">
                    <li>Shiseido</li>
                    <li>Radiant Lifting Foundation Broad Spectrum SPF</li>         
                    <li class="original">$60.00 - 79.00</li>
                    <li class="saving">Sale $70.00</li>
                </div>
            </div>
    </div>
    <div class="row">
            <div class="col-md-4 prod-cloth-left">
                <a href="men1.com"><img class="center-fit" src="assets/home1.jpg"></a>
                <div class="sticker">
                    <p>SALE</p>
                </div>
                <div class="description">
                    <li>Holiday Lane</li>
                    <li>Dreamland Ornament Collection, Created for Macy's</li>                            
                    <li class="original">$350.00 - 388.00</li>
                    <li class="saving">Sale $250.00</li>
                </div>
            </div>
            <div class="col-md-4 prod-cloth-mid">
                <a href="men1.com"><img class="center-fit" src="assets/home2.jpg"></a>
                <div class="sticker">
                    <p>NEW</p>
                </div>
                <div class="description">
                    <li>Hotel Collection</li>
                    <li>Modern Dinnerware, Created for Macy's</li>                           
                    <li class="original">$460.00 - 479.00</li>
                    <li class="saving">Sale $399.00</li>
                </div>
            </div>
            <div class="col-md-4 prod-top-right">
                <a href="men1.com"><img class="center-fit" src="assets/home3.jpg"></a>
                <div class="sticker">
                    <p>NEW</p>
                </div>
                <div class="description">
                    <li>Hotel Collection<br></li>
                    <li>CLOSEOUT! 525-Thread Count Yarn Dyed Bedding </li>           
                    <li class="original">$60.00 - 79.00</li>
                    <li class="saving">Sale $70.00</li>
                </div>
            </div>
    </div>
</div>
<div class="row">
    <h4><b>Recently Viewed Items</b></h4>
        <div class="col-md-2 viewed-items">
            <a href="men1.com"><img class="center-fit" src="assets/home1.jpg"></a>
            <div class="description">
                <li>Hotel Collection<br></li>
                <li>CLOSEOUT! 525-Thread Count Yarn Dyed Bedding </li>    
                <li class="original">$60.00 - 79.00</li>
                <li class="saving">Sale $70.00</li>
            </div>               
        </div>
        <div class="col-md-2 viewed-items">
            <a href="men1.com"><img class="center-fit" src="assets/beauty2.jpg"></a>
            <div class="description">
                <li>Shiseido</li>
                <li>Radiant Lifting Foundation Broad Spectrum SPF</li>             
                <li class="original">$60.00 - 79.00</li>
                <li class="saving">Sale $70.00</li>
            </div>           
        </div>
        <div class="col-md-2 viewed-items">
            <a href="men1.com"><img class="center-fit" src="assets/new-cloth3.jpg"></a>
            <div class="description">
                <li>Dior</li>
                <li>Rouge Dior Lipstick - Red, 0.12 oz</li>
                <li class="original">$460.00 - 479.00</li>
                <li class="saving">Sale $399.00</li>
            </div>
        </div>
        <div class="col-md-2 viewed-items">
            <a href="men1.com"><img class="center-fit" src="assets/home2.jpg"></a>
            <div class="description">                       
                <li>Apple Watch Series 4 GPS, 40mm Gold Aluminum</li>
                <li class="original">$460.00 - 479.00</li>
                <li class="saving">Sale $399.00</li>
            </div>
        </div>
        <div class="col-md-2 viewed-items">
            <a href="men1.com"><img class="center-fit" src="assets/women-dress1.jpg"></a>
            <div class="description">
                <li>Brooks</li>
                <li>Ghost 10 Running Shoe - Wide Width Available</li>                        
                <li class="original">$60.00 - 79.00</li>
                <li class="saving">Sale $70.00</li>
            </div>
        </div>
        <div class="col-md-2 viewed-items">
            <a href="men1.com"><img class="center-fit" src="assets/women-shoes1.jpg"></a>
            <div class="description">
                <li>Polo Ralph Lauren</li>
                <li>Men's Chambray Sports Cap</li>                        
                <li class="original">$60.00 - 79.00</li>
                <li class="saving">Sale $70.00</li>
            </div>
        </div>
</div>
</div>