<div class="content">
    <div class="login-form">
        <div class="login-head">
            <span><a href="#/register">Create Account</a></span>
        </div>
        <div class="login-body">
            <h2>Secure Sign In</h2><br>
            <h5>Email address</h5>
            <input class="em" id="fnum" type="text" name="email" placeholder=""><br>
            <h5>Password</h5>
            <input class="pw" id="snum" type="text" name="password" placeholder=""><br><br>
            <a href="forgotpw.com">Forgot your password?</a><br>
            <p>By signing in, you agree to our <b>Privacy Policy</b>
                and <b>Terms & Conditions.</b></p>
            <button class="btn btn-warning" id="cal">SIGN IN</button>
            <p><a href="home.com">No thanks. Continue browsing</a></p>    
        </div>
    </div>
</div>