<div class="header">
    <div class="row menu">
        <div class="col-md-8 menu-bar">
            <ul>
                <li><a href="#!home">Home</a></li>
                <li><a href="#!about">About</a></li>
                <li><a href="#!map">Map</a></li>
                <li><a href="#!contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="col-md-4 log-cart">
            <ul>
                <li><a href="login.com"><i class="fa fa-user"></i></a></li>
                <li><a href="login.com">Log In/ Sign Up</a></li>
                <li>|</li>
                <li class="cart" id="cartCount">
                    <span class="p1 fa-stack fa-3x has-badge" data-count="12">
                        <a href="cart.com"><i class="p3 fa fa-shopping-cart fa-stack-2x xfa-inverse"></i></a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row category">
        <div class="col-md-2">
            <img class="logo" src="assets/logo.PNG">
        </div>
        <div class="col-md-7 category-menu">
            <ul>
                <li><a href="#!women">WOMEN</a></li>
                <li><a href="#!men">MEN</a></li>
                <li><a href="#!kids">KIDS</a></li>
                <li><a href="#!shoes">SHOES</a></li>
                <li><a href="#!beauty">BEAUTY</a></li>
                <li><a href="#!furniture">FURNITURE</a></li>
                <li><a href="#!accessories">ACCESSORIES</a></li>
                <li><a href="#!clearance">CLEARANCE</a></li>
            </ul>
        </div>
        <div class="col-md-3 search">
            <div class="active-pink-3 active-pink-4 mb-4">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="breadcrumb">
        <ul class="breadcrumb">
            <li><a href="#">KIDS</a></li>
            <li><a href="#">GIRLS</a></li>
            <li><a href="#">SIZE 6-17</a></li>
            <li>COATS & DRESSES</li>
        </ul>
    </div>
    <div class="row product-details">
        <div class="col-md-2 add-pics">
            <div class="add-pic">
                <img src="assets/girlcoatdress2.jpg">
            </div>
            <div class="add-pic">
                <img src="assets/girlcoatdress3.jpg">
            </div>
            <div class="add-pic">
                <img src="assets/girlcoatdress4.jpg">
            </div>
        </div>
        <div class="col-md-5 main-pic">
            <img src="assets/girlcoatdress.jpg">
        </div>
        <div class="col-md-5 details">
            <ul>
                <li>
                    <h2>Blueberi Boulevard</h2>
                </li>
                <li>
                    <h3>Little Girls 2-Pc. Brocade Coat & Dress</h3>
                </li>
                <li class="stars">
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                </li>
                <li class="specification">$85.00</li>
                <li class="saving">Sale $44.50</li>
                <li class="specification">Color: PINK</li>
                <li>
                    <button class="pink"></button>
                    <button class="yellow"></button>
                    <button class="black"></button>
                    <button class="navy"></button>
                </li>
                <li class="specification">Size: M</li>
                <li>
                    <button>XS</button>
                    <button>S</button>
                    <button>M</button>
                    <button>L</button>
                    <button>XL</button>
                </li>
                <li class="specification">
                    Quanity
                </li>
                <li class="specification">
                    <select>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </li>
                <li><button class="btn-addToCart">ADD TO CART</button></li>
            </ul>
        </div>
    </div>
    <div class="review">
        <h4>AVERAGE CUSTOMER RATINGS</h4>
        <div class="row user-rating">
            <div class="side">
                <div>5 star</div>
            </div>
            <div class="middle">
                <div class="bar-container">
                    <div class="bar-5"></div>
                </div>
            </div>
            <div class="side right">
                <div>150</div>
            </div>
            <div class="side">
                <div>4 star</div>
            </div>
            <div class="middle">
                <div class="bar-container">
                    <div class="bar-4"></div>
                </div>
            </div>
            <div class="side right">
                <div>63</div>
            </div>
            <div class="side">
                <div>3 star</div>
            </div>
            <div class="middle">
                <div class="bar-container">
                    <div class="bar-3"></div>
                </div>
            </div>
            <div class="side right">
                <div>15</div>
            </div>
            <div class="side">
                <div>2 star</div>
            </div>
            <div class="middle">
                <div class="bar-container">
                    <div class="bar-2"></div>
                </div>
            </div>
            <div class="side right">
                <div>6</div>
            </div>
            <div class="side">
                <div>1 star</div>
            </div>
            <div class="middle">
                <div class="bar-container">
                    <div class="bar-1"></div>
                </div>
            </div>
            <div class="side right">
                <div>20</div>
            </div>
        </div>
        <h4>REVIEWS</h4><br>
        <span>Be the first to</span><br>
        <button class="write-review">Write a review</button>
        <div class="comment">
            <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
            </div>
            <p>December 5, 2018</p>
            <span class="saving">CUTE BUY</span>
            <p>My daughter loved this jacket, now she has a moto jacket similar to one that I have,
                but its age appropriate for a 6yo.
            </p>
        </div>
        <div class="comment">
            <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
            </div>
            <p>November 25, 2018</p>
            <span class="saving">ADORABLE</span>
            <p>A delightful Xmas gift for my great niece! Hope she loves it as much as I do.</p>
        </div>
    </div>
    <div class="row may-also-like">
        <div class="section-title1">
            <h3>YOU MAY ALSO LIKE</h3>
        </div>
        <div class="col-md-3">
            <img src="assets/girlcoatdress5.jpg">
        </div>
        <div class="col-md-3">
            <img src="assets/girlcoatdress6.jpg">
        </div>
        <div class="col-md-3">
            <img src="assets/girlcoatdress7.jpg">
        </div>
        <div class="col-md-3">
            <img src="assets/girlcoatdress8.jpg">
        </div>
    </div>
</div>